body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.container {
    max-width: 400px;
    margin: 60px auto;
    padding: 40px;
    background-color: #032B43;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}