body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 1rem;
}

.fornecedores-container {
    position: relative;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #032B43;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
}

.fornecedores-container h2 {
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #FFBA08;
    padding-bottom: 10px;
}

.fornecedor-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 30px;
}


.fornecedor-form input {
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 15px;
    transition: border 0.3s ease;
}

.fornecedor-form input:focus {
    border-color: #bf9108;
    outline: none;
}

.fornecedor-form button {
    background: linear-gradient(to bottom, #FFBA08, #303103);
    grid-column: span 2;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.fornecedor-form button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.fornecedores-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.fornecedores-table th,
.fornecedores-table td {
    padding: 12px 10px;
    border: 1px solid #000000;
    text-align: center;
    font-size: 14px;
}

.fornecedores-table th {
    background-color: #032B43;
    text-transform: uppercase;
    font-weight: bold;
}


.fornecedores-table button {
    margin: 0 5px;
    padding: 6px 10px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.editar {
    background: linear-gradient(to bottom, #13b644, #0e4e09);
}

.excluir {
    background: linear-gradient(to bottom, #b61313, #4e0909);
}

th {
    color: #FFBA08;
}