/* Logado.css */

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logado-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 40px;
    background-color: #032B43;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    color: #ffffff;
}

.botoes-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.botoes-container button {
    background: linear-gradient(to bottom, #FFBA08, #303103);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botoes-container button:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.logout-button {
    background: #b30000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(179, 0, 0, 0.6);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.logout-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(179, 0, 0, 0.8);
}

/* Responsivo */
