.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgba(0, 0, 0, 0.7);
    /* Fundo semi-transparente */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

h2 {
    font-size: 26px;
    color: #BF9108;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #BF9108;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
}

.erro {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background: #BF9108;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.login-button:hover {
    background: #e0a817;
    transform: scale(1.05);
}

.register-button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #BF9108;
    background: none;
    border: 2px solid #BF9108;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.register-button:hover {
    background: #BF9108;
    color: #000;
}

.forgot-password {
    margin-top: 15px;
}

.forgot-password-link {
    background: none;
    border: none;
    color: #BF9108;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.forgot-password-link:hover {
    color: #e0a817;
}

/* Responsividade */
@media (max-width: 768px) {
    .login-box {
        padding: 30px;
    }

    h2 {
        font-size: 24px;
    }

    input {
        font-size: 14px;
    }

    .login-button,
    .register-button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .login-box {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }

    input {
        font-size: 14px;
        padding: 10px;
    }

    .login-button,
    .register-button {
        font-size: 14px;
        padding: 10px;
    }
}